@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$default-color: rgb(23, 23, 23);
$light: rgb(246, 246, 246);
$dark: rgb(23, 23, 23);
$blue: rgb(54, 73, 241);
$blue-ish: rgba(54, 73, 241, 0.2);

* {
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 400;
    color: $default-color;
}

button {
    background-color: $blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 0 3px $blue-ish;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav-bar {
    position: sticky;
    top: 0;
    right: 0;
    height: 60px;
    background-color: $light;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 10px;

    .nav-bar-options {
        display: flex;
        gap: 10px;

        a {
            color: grey;
            text-decoration: none;
            
            &:hover {
                color: $default-color;
                cursor: pointer;
            }
        }
        
        .active {
            color: $default-color;
        }
    }

    .toggle-btn {
        margin-left: auto;
    }
}

.dark {
    background-color: $dark;

    h2 {
        color: white;
    }

    .nav-bar-options {
        
        a {
            color: rgb(190, 190, 190);
            text-decoration: none;
            
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
        
        .active {
            color: white;
        }
    }
}

#content {
    padding-left: 100px;
}